<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/admin.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:wght@300;400;500;600;700&display=swap" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<title>Sistema di Gestione</title>
</head>
<body class="sfondo">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  		<div class="container-fluid">
    		<strong class="navbar-brand">SISTEMA DI GESTIONE</strong>
    			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      			<span class="navbar-toggler-icon"></span>
    			</button>
    	<div class="collapse navbar-collapse" id="navbarNav">
      		<ul class="navbar-nav">
        		<li class="nav-item">
          			<a class="nav-link active" aria-current="page" href="#"></a>
        		</li>
        		<li class="nav-item">
          			<a class="nav-link btn btn-outline-warning" href="/logout">LOG OUT</a>
        		</li>
      		</ul>
    	</div>
  	</div>
	</nav>
	<br></br>
	<div class="container">
	<div class="row">
	<div class="col-lg-6 border border-primary container justify-content-center card">
	<div align="center"><h1>SCEGLI L'OPERAZIONE</h1></div>
	<div class="card-body">
	<div align="center">
		<div class="d-grid gap-2">
			<a href="/admin/chef_managment" class="btn btn-primary">GESTIONE CHEF</a>
		</div>
		<div class="d-grid gap-2">
			<a href="/admin/buffet_managment" class="btn btn-primary">GESTIONE BUFFET</a>
		</div>
		<div class="d-grid gap-2">
			<a href="/admin/buffet_choose" class="btn btn-primary">GESTIONE PIATTO</a>
		</div>
		<div class="d-grid gap-2">
			<a href="/admin/ingrediente_managment" class="btn btn-primary">GESTIONE INGREDIENTI</a>
		</div>		
	</div>
</div>
</div>
</div>
</div>
<br><br>
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">BENVENUTO !</h4>
  <p>Questo è il sistema di gestione del servizio di  catering. Permette ad un amministratore di creare ed eliminare chef, buffet, piatti e ingredienti.</p>
  <hr>
  <p class="mb-0">Per iniziare, seleziona una delle attivita da eseguire.</p>
</div>
</body>
</html>