<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/admin.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<title>Gestione Ingredienti Disponibili</title>
</head>
<body class="sfondo">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  		<div class="container-fluid">
    		<strong class="navbar-brand">Gestione Ingredienti</strong>
    			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      			<span class="navbar-toggler-icon"></span>
    			</button>
    	<div class="collapse navbar-collapse" id="navbarNav">
      		<ul class="navbar-nav">
        		<li class="nav-item">
          			<a class="nav-link active" aria-current="page" href="#"></a>
        		</li>
        		<li class="nav-item">
          			<a class="nav-link" href="/admin">Indietro</a>
        		</li>
        		<li class="nav-item">
          			<a class="nav-link btn btn-outline-success" href="/admin/ingrediente_managment/add">Crea Ingrediente</a>
        		</li>
      		</ul>
    	</div>
  	</div>
	</nav>
	<table class="table table-primary table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>NOME</th>
				<th>ORIGINE</th>
				<th>DESCRIZIONE</th>
				<th>OPERAZIONE</th>
			</tr>
		</thead>
		<tbody>
			<tr  th:each="ingrediente : ${ingredienti}">
				<td th:text="${ingrediente.id}">111</td>
				<td th:text="${ingrediente.nome}">pasta</td>
				<td th:text="${ingrediente.origine}">roma sud</td>
				<td>
					<div th:text="${ingrediente.descrizione}"></div>
				</td>
				<td>
					<a th:href="@{/admin/ingrediente_managment/edit/{ingred_id}(ingred_id=${ingrediente.id})}" class="btn btn-outline-primary"><strong>MODIFICA</strong></a>
					<a th:href="@{/admin/ingrediente_managment/delete/{ingred_id}(ingred_id=${ingrediente.id})}" class="btn btn-outline-danger"><strong>ELIMINA</strong></a>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="alert alert-danger" role="alert">Attenzione! Eliminando la disponibilità di un ingrediente non saranno piu disponibili neanche i piatti che lo contengono</div>
</body>
</html>