<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>I nostri eventi</title>
	<link rel="stylesheet" type="text/css" href="/css/events.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
	<header id="header">
		<nav id="menu_bar">
			<div id="logo">Catering<br>Deluxe</div>
			<a href="/" class="info_button">HOME</a>
		</nav>
		<div id="titolo">CATERING PER EVENTI PRIVATI</div>
	</header>
	<section class="flex-container">
		<div class="flex-text-item">
			<div class="text">
					Feste di Laurea, cerimonie religiose, compleanni e celebrazioni di successi
					personali e sportivi ti danno l'occasione di fissare un momento per sempre,
					insieme alle persone più care. Le giornate trascorrono velocemente, a volte senza
					rendercene conto, per questo è importante cogliere l'occasione per festeggiare
					una ricorrenza, un successo personale, un'emozione e trasformarli in un ricordo
					indelebile
					Scegliendo il Deluxe Catering, avrai a disposizione un team di professionisti e la
					loro competenza nel settore organizzativo e gastronomico, per rendere speciali i
					momenti più importanti della tua vita.
					Ascolteremo le tue esigenze, per poter definire ogni dettaglio del tuo evento
					privato e realizzarlo su misura per te e i tuoi ospiti.
			</div>
		</div>
		<div class="flex-text-item">
			<div class="text">
					I nostri chef e il nostro personale di sala seguiranno da vicino ogni momento del
					tuo evento, portando in tavola sempre il piatto giusto al momento giusto.
					Step by step, ti staremo accanto in ogni fase dell'organizzazione, sapremo
					ascoltarti e consigliarti per curare insieme ogni minimo dettaglio e dar vita
					all'evento privato dei tuoi sogni.
					Il nostro obiettivo principale è quello di rendere perfetto e unico il tuo
					momento, da condividere con amici e familiari, mettendo in scena un'atmosfera
					indimenticabile e suggestiva.Cura nei particolati, servizio
					studiato e altamente professionale, altissima qualità della materia prima, sono le
					carte vincenti del nostro catering che faranno la differenza al tuo prossimo
					evento, rendendolo unico e indimenticabile.
					Seguiremo il tuo evento in tutte le fasi dell'organizzazione.
			</div>
		</div>
	</section>
	<section class="contatti">
		<div class="flex-text-item">
			<strong class="intestazione_contatti">SEGUICI</strong>
      		<div>▬▬▬▬▬▬ ○ ▬▬▬▬▬▬</div>
      		<p>Seguici sui social per rimanere sempre aggiornato.</p>
      		<a class="info_button" href="https://www.facebook.com/">facebook</a>
      		<a class="info_button" href="https://www.instagram.com/">instagram</a>
      		<a class="info_button" href="https://www.youtube.com/">youtube</a>
      	</div>
		<div class="flex-text-item-special">
			<strong class="intestazione_contatti_special">CONTATTI</strong>
      		<div>▬▬▬▬▬▬ ○ ▬▬▬▬▬▬</div>
      		<p>Contattaci per avere un preventivo:</p>
      		<p>Tel: 02 3656 3630</p>
      		<p>Email: info@catering.it</p>
		</div>
		<div class="flex-text-item">
			<strong class="intestazione_contatti">DOVE SIAMO</strong>
      		<div>▬▬▬▬▬▬ ○ ▬▬▬▬▬▬</div>
      		<p>Puoi venirci a trovare al nostro indirizzo:</p>
      		<a href="https://www.google.it/maps/place/10+Downing+St,+London+SW1A+2AB,+Regno+Unito/@51.5033998,-0.1299152,17z/data=!3m1!4b1!4m5!3m4!1s0x487604c56f3b61c7:0x9c97d4222fab0eb7!8m2!3d51.5033998!4d-0.1277265">10 Downing Street, Londra, Regno Unito</a>
		</div>
	</section>
	<footer class="footer">Questo sito è stato sviluppato per l'esame di Sistemi Informativi su Web per l'a.a 2021/2022, con scopo puramente didattico e non commerciale
	. Sebbene per la creazione di questo sito sia stato preso spunto da pagine esistenti, la somiglianza con altri siti web è da considerarsi puramente casuale.</footer>
</body>
</html>