<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home Page</title>
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
	<header id="header">
		<nav id="menu_bar">
			<div id="logo">Catering<br>Deluxe</div>
			<a href="#storia" class="simple_button">STORIA</a>
			<a href="#buffet" class="simple_button">BUFFET</a>
			<a href="#eventi" class="simple_button">EVENTI</a>
			<a href="#video" class="simple_button">VIDEO</a>
			<a href="/login" class="info_button">ADMIN</a>
		</nav>
	</header>
	<section id="storia" class="flex-container">
      <div class="flex-image-item">
      	<div id="immagine_storia"></div>
      </div>
      <div class="flex-text-item">
      	<strong class="intestazione">LA NOSTRA STORIA</strong>
      	<div>▬▬▬▬▬▬ ○ ▬▬▬▬▬▬</div>
      	<p class="paragrafo">La nostra attività nasce da un idea del nostro fondatore 
      	Luke Skywalker, che da cinquecento anni porta avanti la sua idea da cucina, grazie anche all'aiuto
        dei migliori chef del panorama mondiale. L'uso di incredienti di altissima qualità rende il nostro servizio
        il migliore della galassia.</p>
      </div>
	</section>
    <section id="buffet" class="flex-container">
      <div class="flex-text-item">
      	<strong class="intestazione">BUFFET</strong>
      	<div>▬▬▬▬▬▬ ○ ▬▬▬▬▬▬</div>
      	<p class="paragrafo">Massima attenzione alle richieste del cliente, rispetto, educazione, accoglienza, passione per il cibo, elevata qualità
      	 delle materie prime, tradizione e innovazione, stile, design, attenzione ai minimi dettagli sono gli ingredienti chiave del nostro successo</p>
      	<a class="info_button" href="/user/all_buffets">vedi i menu</a>
      </div>
      <div class="flex-image-item">
      	<div id="immagine_buffet"></div>
      </div>
    </section>
    <section id="eventi" class="flex-container">
      <div class="flex-image-item">
      	<div id="immagine_eventi"></div>
      </div>
      <div class="flex-text-item">
      	<strong class="intestazione">EVENTI</strong>
      	<div>▬▬▬▬▬▬ ○ ▬▬▬▬▬▬</div>
      	<p class="paragrafo">Compleanni, anniversari, rinfresco di battesimo, feste di laurea, pranzi di comunione, per qualsiasi
      	tipo di ricorrenxe speciali, Deluxe Catering realizza il vostro evento, seguendovi passo passo, dalla seclta della location agli
        allestimenti più idonei, dalla realizzazione dell'evento al gustoso menù</p>
        <a class="info_button" href="/user/events">scopri</a>
      </div>
    </section>
    <section id="video" class="flex-container">
    	<iframe width="853" height="480" src="https://www.youtube.com/embed/yrmwkCr0_hw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section>
	<section class="contatti">
		<div class="flex-text-item">
			<strong class="intestazione_contatti">SEGUICI</strong>
      		<div>▬▬▬▬▬▬ ○ ▬▬▬▬▬▬</div>
      		<p>Seguici sui social per rimanere sempre aggiornato.</p>
      		<a class="info_button" href="https://www.facebook.com/">facebook</a>
      		<a class="info_button" href="https://www.instagram.com/">instagram</a>
      		<a class="info_button" href="https://www.youtube.com/">youtube</a>
      	</div>
		<div class="flex-text-item-special">
			<strong class="intestazione_contatti_special">CONTATTI</strong>
      		<div>▬▬▬▬▬▬ ○ ▬▬▬▬▬▬</div>
      		<p>Contattaci per avere un preventivo:</p>
      		<p>Tel: 02 3656 3630</p>
      		<p>Email: info@catering.it</p>
		</div>
		<div class="flex-text-item">
			<strong class="intestazione_contatti">DOVE SIAMO</strong>
      		<div>▬▬▬▬▬▬ ○ ▬▬▬▬▬▬</div>
      		<p>Puoi venirci a trovare al nostro indirizzo:</p>
      		<a href="https://www.google.it/maps/place/10+Downing+St,+London+SW1A+2AB,+Regno+Unito/@51.5033998,-0.1299152,17z/data=!3m1!4b1!4m5!3m4!1s0x487604c56f3b61c7:0x9c97d4222fab0eb7!8m2!3d51.5033998!4d-0.1277265">10 Downing Street, Londra, Regno Unito</a>
		</div>
	</section>
	<footer class="footer">Questo sito è stato sviluppato per l'esame di Sistemi Informativi su Web per l'a.a 2021/2022, con scopo puramente didattico e non commerciale
	. Sebbene per la creazione di questo sito sia stato preso spunto da pagine esistenti, la somiglianza con altri siti web è da considerarsi puramente casuale.</footer>
</body>
</html>